<ion-content [fullscreen]="true" >
<div class="safe-area-content">
  <div align="center">
    <img src="assets/imgs/logo.png" alt="Logo" class="logo"/>
  </div>
  <ion-list>
  <div class="ion-margin marginBottom" (ionChange)="segmentChanged($event)">
  <ion-segment mode="ios" [value]="segmentValue">
    <ion-segment-button value="1">
      <ion-label>Sign In</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Sign Up</ion-label>
    </ion-segment-button>
  </ion-segment>
  </div>
  
  <app-sign-in *ngIf="segmentValue == '1'"></app-sign-in>
  <app-sign-up *ngIf="segmentValue == '2'"></app-sign-up>
  
  </ion-list>
</div>

</ion-content>

