<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Enter your email
    </ion-title>
    <p class="subTitle">To receive a reset password link</p>
  </div>

  <div class="input-container">
    <ion-item class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="email" class="input" placeholder="Enter your email" type="email"></ion-input>
    </ion-item>
  </div>

  <div class="button-container">
    <ion-button class="round-button" (click)="resetPassword()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>
