<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>About AllerGuard</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
            With AllerGuard, product allergen information can be accessed by scanning the product barcode. If the user has added their own allergens, the system warns them if there is a common allergen when the product barcode is scanned. You can view and edit allergen information on the My Allergens page.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Features</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li><strong>Barcode Scanning:</strong> Easily scan product barcodes to instantly access allergen information, eliminating the need to read labels manually.</li>
              <li><strong>Allergen Warnings:</strong> Receive real-time alerts if a scanned product contains allergens that could harm you based on your saved allergen profile.</li>
              <li><strong>Personalized Allergen Management:</strong> Save your personal allergen information in the app and get customized recommendations for products to avoid or consider.</li>
              <li><strong>Prevention of Anaphylactic Reactions:</strong> The app helps prevent potential anaphylactic reactions by warning you about harmful products before purchase.</li>
              <li><strong>Detailed Allergen Information:</strong> Access comprehensive details about various allergens, helping you make informed decisions.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>How to Use</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ol>
              <li><strong>Create Personal Profile:</strong> Enter your personal information when you first open the app.</li>
              <li><strong>Add Allergens:</strong> Add the allergens you have.</li>
              <li><strong>Scan Barcode:</strong> Scan the barcode of the product you want to buy.</li>
              <li><strong>Get Alert:</strong> If there is a warning message, that product contains the allergy you have. So you should be careful when buying it.</li>
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Developer</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Developer Name:</strong> Tuğba Aktürk</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Version</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Version:</strong> 1.0.0 - Initial release</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Legal Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>&copy; 2024. All rights reserved. <a href="#">Read Privacy Policy</a></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Support</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Write to me:</strong> <a href="#"> tugba.aktuerk&#64;hs-osnabrueck.de</a></p>
          </ion-card-content>
         
