.input{
    font-size: 300;
}

ion-item{
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }
}

.signupLink{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left:0;
    bottom:0;
    width: 80%;
    right: 0;

    p{
        font-size: 0.9rem;
    }

    a{
        text-decoration: none;
    }
}

.forgotPassword{
    display: flex;
    justify-content: flex-end;

    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}

.guest{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}

.signInButton{
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
    background: gray;
    color: white;
    border-radius: 20px;
}

ion-input, ion-text{
    font-size: 0.9rem;
}

p{
    ion-icon{
        font-size: 1.8rem;
        margin: 0 2vh
    }
}

ion-button {
    margin: 5vh 0;
}